<h1>{{title}}</h1>
 
<div>
  <div>
    <label>Author: </label>
    <input [(ngModel)]="person.name" />
  </div>
  <div>
    <label>Body: </label>
    <input [(ngModel)]="person.body" />
  </div>
  <div>
    <button (click)="addPerson()">Add</button>
  </div>
</div>
 
<table class='table'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Author</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of people;">
      <td>{{person.id}}</td>
      <td>{{person.name}}</td>
      <td>{{person.body}}</td>
    </tr>
  </tbody>
</table>
 